# Database
DATABASE_URL="postgresql://user:password@localhost:5432/yumm_db"

# NextAuth / JWT
NEXTAUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# API
NEXT_PUBLIC_API_URL="http://localhost:3000/api"

# Environment
NODE_ENV="development"
